*{
    margin: 0;
    padding: 0;
}
body {
    background: rgb(237, 216, 204);
    font-size: 14px;
}
.container {
    width: 90%;
    margin: 50px auto;
}
.contact-box {
    background: #f4e0ce;
    display: flex;
}
.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right {
    flex-basis: 40%;
    padding: 40px 40px;
    background: #edd4ae;
    color: #624ce0;
}
h1 {
    margin-bottom: 20px;
    color: rgb(42,42,190);

}
.container p {
    margin-bottom: 30px;
    color: rgb(0, 0, 0)
}
.input-row {
    display: flex;
    justify-content:  space-between;
    margin-bottom: 20px;
}
.input-row .input-group {
    flex-basis: 45%;
}
input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #f4e0ce;
    outline: none;
    padding-bottom: 5px;
}
textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label {
    margin-bottom: 6px;
    display:block;
    color:#624ce0;
}
button {
    background: #6d5ec5;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-left  h3 {
    color: #5b4bb5;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right  h3 {
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Updated alignment */
    padding: 10px 20px;
    background-color: rgb(250, 234, 224);
    position: fixed;
    top: 0;
    width: 95%;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo {
    font-size: 50px;
    margin: 0;
  }

  .tagline {
    color: rgb(42, 42, 190);
    font-size: 20px;
    margin-left: 30px;
    margin-top: 15px;
  }

  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .nav-links li {
    margin-left: 20px;
    font-size: 20px;
    font-style: italic;
  }
  em {
    font-size: normal;
    font-weight: bold;
  }
  .active {
    font-weight: bold;
  }